streamlit_chat
streamlit
langchain
langchain-community
langchain-core
langchain-chroma
langchain-groq
langchain-ollama
sentence-transformers
chromadb
qdrant-client
python-dotenv
tqdm
ipywidgets
pandas
tensorflow
torch
uuid