streamlit
streamlit-chat
langchain
langchain-community
langchain-groq
langchain-google-genai
chromadb
python-dotenv
pymongo
neo4j
streamlit-option-menu
sentence-transformers
email-validator
langchain-google-community
PyJWT
beautifulsoup4
pandas
qdrant_client
nest_asyncio
pymongo
langchain_huggingface
textblob
google-generativeai
langchain_qdrant
qdrant_client
